html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* у тех у кого есть атрибут класс */
ul[class],
ol[class] {
    padding: 0;
}

a {
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

/* чтобы у картинки скролла не было */
img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    //font-weight: 500;
    color: rgba(17, 17, 17, 0.48);

}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}





































